@media only screen and (max-width: 1920px) {
    #myCarousel {
        width: 1920px; 
    }  
    .carousel-caption {
        width: 1920px; 
    }
  
    a.il {
        margin-left: 790px; 
        margin-top: 60px; 
    }
    #homepageImage {
        height: 1000px; 
        width: 750px; 
        margin-left: 450px; 
    } 
    .header-text {
        margin-right: 140px; 
    } 
    .header-text-2{
        margin-right: 140px; 
    }
    .header-text-3 {
        margin-right: 140px; 
    }
    /* advertising ---------------------------------------------------------------- */ 
    #lefta {
        margin-top: 100px; 
        margin-left: -80px;  
    } 
  #righta {
        margin-top: 10px; 
        margin-left: 700px; 

    }  
    .carousel-control.right {
        margin-top: 500px; 
        
    } 

  .test {
        margin-left: -550px; 
        margin-bottom: 20px; 
    }  
  
    div.carousel-inner #ads0 {
        height: 1000px; 
        margin-left: 1100px; 
    } 

    .adscaption {
        margin-left: -740px; 
        margin-bottom: 150px; 
        font-size: 13px; 
    }  
    .adscaption1 {
        margin-left: -820px; 
        margin-bottom: 150px; 
        font-size: 13px; 
    } 
    div.carousel-inner #ads1 {
        height: 1000px; 
        width: 700px; 
        margin-left: 1050px; 
    }  
    div.carousel-inner #ads1 {
        height: 1000px; 
        width: 700px; 
        margin-left: 1060px; 
    }  
    div.carousel-inner #ads2 {
        height: 1000px; 
        width: 700px; 
        margin-left: 1060px; 
    } 
    div.carousel-inner #ads3 {
        height: 1000px; 
        width: 700px; 
        margin-left: 1060px; 
    }  
     div.carousel-inner #ads4 {
        height: 1000px; 
        width: 700px; 
        margin-left: 1060px; 
    } 
    div.carousel-inner #ads5 {
        height: 1000px; 
        width: 700px; 
        margin-left: 1060px; 
    } 
    div.carousel-inner #ads6 {
        height: 1000px; 
        width: 700px; 
        margin-left: 1060px; 
    } 
    div.carousel-inner #ads7 {
        height: 1000px; 
        width: 700px; 
        margin-left: 1060px; 
    } 
/* personal --------------------------------------------------------------- */


    div.carousel-inner #personal0 {
          margin-top: 50px; 
          margin-left: 550px;
          height: 1200px; 
          width: 700px; 
    }  
    .personalCaptionZero {
        margin-left: 180px; 
        margin-top: -80px; 
        font-size: 13px; 
      }
    div.carousel-inner #personal1 {
        margin-top: 50px; 
         height: 990px; 
         width: 1600px; 
   }  
   div.carousel-inner #personal2 {
    margin-top: 50px; 
    margin-left: 1700px; 
    height: 1200px; 
    width: 800px; 
}  
.personalCaptionTwo {
    margin-left: -2250px; 
    margin-top: -250px; 
    font-size: 13px; 
  }
div.carousel-inner #personal3 {
    margin-top: 50px; 
    margin-left: 600px; 
    height: 1200px; 
    width: 700px; 
} 
.personalCaptionThree {
    margin-left: -2250px; 
    margin-top: -250px; 
    font-size: 13px; 
    overflow: hidden; 
  } 
div.carousel-inner #personal4 {
    margin-top: 50px; 
    margin-left: 160px;
    height: 1200px; 
    width: 800px; 
}  
.personalCaptionFour {
    margin-left: 710px; 
    margin-top: -250px; 
    font-size: 13px; 
  }  
div.carousel-inner #personal5 {
    margin-top: 50px; 
    margin-left: 160px;
    height: 1200px; 
    width: 800px; 
}  
.personalCaptionFive {
    margin-left: 710px; 
    margin-top: -280px; 
    font-size: 13px; 
  }  
div.carousel-inner #personal6 {
    margin-top: 50px; 
    height: 990px; 
    width: 1600px; 
}   
.personalCaptionSix {
    margin-left: -2250px; 
    margin-top: -50px; 
    font-size: 13px; 
  } 
  div.carousel-inner #personal7 {
    margin-top: 50px; 
    height: 990px; 
    width: 1600px; 
}   

.personalCaptionSeven {
    margin-left: -2250px; 
    margin-top: -50px; 
    font-size: 13px; 
  }   
  div.carousel-inner #personal8 {
    margin-top: 50px; 
    height: 990px; 
    width: 1600px; 
}   
div.carousel-inner #personal9 {
    margin-top: 50px; 
    height: 990px; 
    width: 1600px; 
}  
div.carousel-inner #personal10 {
    margin-top: 50px; 
    margin-left: 1150px; 
    height: 990px; 
    width: 800px; 
}   
div.carousel-inner #personal11 {
    margin-top: 50px; 
    margin-left: 1150px; 
    height: 990px; 
    width: 800px; 
}        
div.carousel-inner #personal12 {
    margin-top: 50px; 
    margin-left: 1150px; 
    height: 990px; 
    width: 800px; 
}     

.personalCaptionOne {
       margin-left: 100px; 
       margin-top: -80px; 
       font-size: 13px; 
} 

.personalcaption {
    margin-left: -2300px; 
    margin-top: -50px; 
    font-size: 13px; 
}

 #leftp {
        margin-top: 100px; 
        margin-left: -80px;  
    } 
  #rightp {
        margin-top: 10px; 
        margin-left: 1200px; 

    }  
    .carousel-control.right {
        margin-top: 350px; 
        
    } 

  .test {
        margin-left: 50px; 
        margin-bottom: 1px; 
    }  
  

    /* publications */ 
    .publications-container {
        margin-top: 1200px; 
        margin-left: 600px; 
    } 
    .border {
        margin-right: 400px; 
    } 


/* ----------------------------------------------  womens page ----------------------------- * /  
/* ---------- */ 
.image-grid  {
    padding-top: 80px; 
    width: 70%; 
    margin: auto; 
}  

#root {
    max-width: 1920px;
} 

.each .caption {
    margin-top: 48%; 
    font-size: 13px; 
} 

.each p.caption.right {
    margin-right: 50px;
}


.gallery-popup .nav.arrow-right {
    right: 90px;
}

.gallery-popup .nav.arrow-left {
    left: 90px;
}  

.gallery-popup .gallery-wrapper .image-holder.right {
    margin-right: 200px;
}
 
.each p.caption.right {
    margin-right: 30px;
} 

} 






/*------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 1680px) {
#myCarousel {
      width: 1680px; 
  } 
  a.il {
    margin-left: 610px; 
    margin-top: 80px; 
} 
#homepageImage {
    height: 1000px; 
    width: 700px; 
    margin-left: 273px; 
} 
.header-text {
    margin-right: 140px; 
} 
.header-text-2{
    margin-right: 140px; 
}
.header-text-3 {
    margin-right: 140px; 
} 
/* ------------------------------------- advertising --------------------------- */

  
div.carousel-inner #ads0 {
    height: 1000px; 
    margin-left: 900px; 
} 
  
div.carousel-inner #ads1 {
    height: 1000px; 
    margin-left: 860px; 
    width: 700px; 
}  
.adscaption {
    margin-left: -1000px; 
    margin-bottom: 150px; 
    font-size: 13px; 
} 

.adscaption1 {
    margin-left: -1100px; 
    margin-bottom: 150px; 
    font-size: 13px; 
}   

div.carousel-inner #ads2 {
    height: 1000px; 
    margin-left: 860px; 
    width: 700px; 
}  

div.carousel-inner #ads3 {
    height: 1000px; 
    margin-left: 860px; 
    width: 700px; 
}  

div.carousel-inner #ads4 {
    height: 1000px; 
    margin-left: 860px; 
    width: 700px; 
}  

div.carousel-inner #ads5 {
    height: 1000px; 
    margin-left: 860px; 
    width: 700px; 
}  

div.carousel-inner #ads6 {
    height: 1000px; 
    margin-left: 860px; 
    width: 700px; 
}  
/* ---------------------------- womens page -----------------------------------*/

.each p.caption.testCaption {
    margin-top: 900px; 
    margin-left: 1250px; 
}  

.each p.caption.fullLeftCaption {
    margin-top: 900px; 
    margin-left: 50px; 
} 

.each p.caption.centerLeftCaption {
    margin-top: 900px; 
    margin-left: -400px; 
    position: absolute;
}   

.each p.caption.captionLeftLeft {
    margin-bottom: 60px; 
    margin-left: -1970px; 
    position: absolute;
}    

.gallery-popup .gallery-wrapper .testRight {
    margin-left: 32px; 
    position: relative;
    padding-left: 1000px; 
}   

 
.each p.caption.centerCloseLeftCaption {
    margin-top: 850px; 
    margin-left: -150px; 
    position: absolute;
}  

.each p.caption.rightFarLeftCaption {
    margin-left: 10px; 
    position: absolute; 
}   

.each p.caption.centerRightCaption {
    margin-top: 875px; 
    margin-left: 950px; 
    position: absolute;
}   
 

.gallery-popup .gallery-wrapper .centerRight {
    margin-left: 500px;  
} 

.gallery-popup .gallery-wrapper .centerCloseLeft {
        margin-left: 500px;   
    } 
 

.gallery-popup .gallery-wrapper .centerLeft {
    margin-left: 500px;  
} 


.image-grid  {
    padding-top: 80px; 
    width: 80%; 
    margin: auto; 
}  

#root {
    max-width: 1680px;
} 

.each .caption {
    margin-top: 54%; 
} 

.gallery-popup .nav.arrow-right {
    right: 90px;
}

.gallery-popup .nav.arrow-left {
    left: 90px;
}  

.gallery-popup .gallery-wrapper .image-holder.right {
    margin-right: 150px;
} 

.gallery-popup .gallery-wrapper .image-holder.left {
    margin-left: 150px;
}
 
.each p.caption.right {
    margin-right: 30px;
}  

.each p.caption.left {
    margin-left: 20px;
    margin-top: 800px; 
}   

p.caption.left.edge.caption-right {
    margin-top: 900px; 
}

.each p.caption.left.edge {
    margin-left: 800px; 
    margin-bottom: 80px; 
} 

.image-holder.left {
    margin-left: 400px;
}




/* ------------------------------------------------------ personal ------------------------------ */
    div.carousel-inner #personal0 {
        margin-left: 470px;
        height: 1050px; 
        width: 700px; 
    } 
     div.carousel-inner #personal1 {
        height: 1050px; 
        width: 1500px; 
    } 
    div.carousel-inner #personal2 {
        margin-left: 980px;  
        height: 1050px; 
        width: 700px; 
    } 
    div.carousel-inner #personal3 {
        margin-left: 490px;  
        height: 1100px; 
        width: 700px; 
    } 
    div.carousel-inner #personal4 {
        margin-left: 150px;  
        height: 1050px; 
        width: 700px; 
    } 
    div.carousel-inner #personal5 {
        margin-left: 150px;  
        height: 1050px; 
        width: 700px; 
    } 
    div.carousel-inner #personal6 {
        height: 1000px; 
        width: 1500px; 
    } 
    div.carousel-inner #personal7 {
        height: 1000px; 
        width: 1500px; 
    } 
    div.carousel-inner #personal8 {
        height: 1000px; 
        width: 1500px; 
    }  
    div.carousel-inner #personal9 {
        height: 1000px; 
        width: 1500px;  
    }
    div.carousel-inner #personal10 {
    height: 1050px; 
    width: 700px; 
    margin-left: 990px; 
}  
.personalcaption {
    margin-left: -2310px; 
    margin-bottom: 50px;  
}  

.personalCaptionTwo {
    margin-left: -2200px; 
    margin-top: -80px; 
    font-size: 13px; 
  } 
  .personalCaptionThree {
    margin-left: -2250px; 
    margin-top: -130px; 
    font-size: 13px; 
  } 
 
  .personalCaptionFive {
    margin-left: 400px; 
    margin-top: -80px; 
    font-size: 13px; 
  }  

  .personalCaptionSix {
    margin-left: -2200px; 
    margin-top: -20px; 
    font-size: 13px; 
  }
div.carousel-inner #personal11 {
    height: 1050px; 
    width: 700px; 
    margin-left: 990px; 
}  

div.carousel-inner #personal12 {
    height: 1050px; 
    width: 700px; 
    margin-left: 990px; 
}  
.carousel-control.right {
    margin-top: 590px; 
    
} 
    #leftp {
        margin-top: 190px; 
    } 
    #rightp {
        margin-top: 10px; 
        margin-left: 80px; 
    }
    /* publications page */ 
    .publications-container {
        margin-left: 300px; 
        margin-top: 600px; 
    } 
    .border {
        margin-right: 350px; 
    }
} 

/* ---------------------------------------------------------------- */ 
@media only screen and (max-width: 1600px) {
    a.il {
        margin-left: 630px; 
    }
    #homepageImage {
        height: 900px; 
        margin-left: 300px; 
        width: 650px; 
    } 
    .header-text {
        margin-right: 70px; 
    } 
    .header-text-2{
        margin-right: 70px; 
    }
    .header-text-3 {
        margin-right: 70px; 
    } 
    #myCarousel {
        width: 1600px; 
    }
   /* div.carousel-inner #personal0 {
          margin-left: 400px;
          height: 1270px; 
          width: 800px; 
      } 
    div.carousel-inner #personal1 {
        height: 1270px; 
        width: 1460px; 
        padding: 0px; 
    } 
    div.carousel-inner #personal2 {
        margin-left: 770px; 
        height: 1270px; 
        width: 900px; 
    }  
    div.carousel-inner #personal3 {
        margin-left: 400px; 
        height: 1270px; 
        width: 800px; 
    } 
    div.carousel-inner #personal4 {
        height: 1270px; 
        width: 800px; 
    }  
    div.carousel-inner #personal5 {
        height: 1270px; 
        width: 800px; 
    } 
    div.carousel-inner #personal6 {
        height: 1270px; 
        width: 1460px; 
    }  
    div.carousel-inner #personal7 {
        height: 1270px; 
        width: 1460px; 
    }   
    div.carousel-inner #personal8 {
        height: 1270px; 
        width: 1460px; 
    }  
    div.carousel-inner #personal9 {
        height: 1270px; 
        width: 1460px; 
    } 
    div.carousel-inner #personal10 {
        margin-left: 800px; 
        height: 1270px; 
        width: 800px; 
    }   
    div.carousel-inner #personal11 {
        margin-left: 800px; 
        height: 1270px; 
        width: 800px; 
    }  
    div.carousel-inner #personal12 {
        margin-left: 800px; 
        height: 1270px; 
        width: 800px; 
    }  
    .personalcaption {
        margin-left: -1410px; 
        margin-top: 60px;  
    }        
    #leftp {
        margin-top: 280px; 
        margin-left: 10px; 
    } 
    #rightp {
        margin-top: 280px; 
        margin-left: 10px;  
    } 
     /* publications page */ 
     .publications-container {
        margin-left: 500px; 
    } 
    .border {
        margin-right: 200px; 
    }
} 

/* ---------------------------------------------------- */ 
@media only screen and (max-width: 1440px) {
    a.il {
        margin-left: 590px; 
    }
    #homepageImage {
        height: 900px; 
        width: 600px; 
        margin-left: 260px; 
    }  
    .header-text {
        margin-right: 20px; 
    } 
    .header-text-2{
        margin-right: 20px; 
    }
    .header-text-3 {
        margin-right: 20px;
    }
   /* #myCarousel {
        width: 1440px; 
    }
    a.il {
        margin-left: 550px; 
        font-size: 23px; 
    } 
    div.carousel-inner #personal0 {
        margin-left: 500px;
        height: 980px; 
        width: 500px; 
    } 
    div.carousel-inner #personal1 {
        height: 980px; 
        width: 1300px; 
    } 
    div.carousel-inner #personal2 {
        margin-left: 738px;
        height: 980px; 
        width: 700px; 
    } 
    div.carousel-inner #personal3 {
        margin-left: 440px;
        height: 980px; 
        width: 600px; 
    } 
    div.carousel-inner #personal4 {
        margin-left: 85px;
        height: 980px; 
        width: 600px; 
    } 
    div.carousel-inner #personal5 {
        margin-left: 85px;
        height: 980px; 
        width: 600px; 
    } 
    div.carousel-inner #personal6 {
        height: 980px; 
        width: 1300px; 
    } 
    div.carousel-inner #personal7 {
        height: 980px; 
        width: 1300px; 
    } 
    div.carousel-inner #personal8 {
        height: 980px; 
        width: 1300px; 
    } 
    div.carousel-inner #personal9 {
        height: 980px; 
        width: 1300px; 
    } 
    div.carousel-inner #personal10 {
        margin-left: 938px; 
        height: 850px; 
        width: 500px; 
    } 
    .personalcaption {
        margin-left: -1100px; 
        margin-top: -80px;  
    } 
    div.carousel-inner #personal11 {
        margin-left: 938px; 
        height: 850px; 
        width: 500px; 
    }  div.carousel-inner #personal12 {
        margin-left: 938px; 
        height: 850px; 
        width: 500px; 
    } 
#leftp {
    margin-top: 30px; 
} 
#rightp {
    margin-top: 30px; 
    margin-left: 20px;  
    } */
     /* publications page */ 
     .publications-container {
        margin-left: 100px; 
        margin-top: 500px; 
    } 
    .border {
        margin-right: 200px; 
    }
} 

/* ----------------------------------------------- */ 
@media only screen and (max-width: 1280px) {
    a.il {
        margin-left: 480px; 
        margin-top: 70px; 
    } 
    #homepageImage {
        height: 800px; 
        width: 500px; 
        margin-left: -50px; 
        margin-bottom: 0px; 
    } 
    .header-text {
        margin-right: 60px; 
    }
    .header-text-2 {
        margin-right: 60px; 
    }
    .header-text-3 {
        margin-right: 60px; 
    } 
    .publications-container {
        margin-left:  -80px; 
        margin-top: 400px; 
    } 
}  

/* ----------------------------------------------- */ 
@media only screen and (max-width: 1280px) {
    #homepageImage {
        height: 1024px; 
        width: 700px; 
        margin-left: -50px;  
    }
    .main-container-header {
        height: 1100px; 
    } 
    .publications-container {
        margin-left:  -80px; 
        margin-top: 400px; 
    } 
}
/* ----------------------------------------------- */ 

/*------------------------------------------------*/
@media only screen and (max-width: 1300px) {
    a.il {
        margin-left: 510px; 
        margin-top: 70px; 
    }
    #homepageImage {
        height: 700px; 
        width: 500px; 
        margin-left: 180px; 
    } 
    .header-text {
        margin-right: 40px; 
    }
    .header-text-2 {
        margin-right: 40px; 
    }
    .header-text-3 {
        margin-right: 40px; 
    }  
    .publications-container {
        margin-left: 100px; 
        margin-top: 400px; 
    } 
}



    /*#myCarousel {
        width: 1300px; 
    }
    a.il {
        margin-left: 500px; 
    } 
    div.carousel-inner #personal0 {
        margin-left: 400px;
        height: 980px; 
        width: 500px; 
    }  
    div.carousel-inner #personal1 {
        height: 980px; 
        width: 1150px; 
    } 
    div.carousel-inner #personal2 {
        margin-left: 785px; 
        height: 980px; 
        width: 500px; 
    }  
    div.carousel-inner #personal3 {
        margin-left: 390px; 
        height: 980px; 
        width: 500px; 
    }  
    div.carousel-inner #personal4 {
        margin-left: 785px; 
        height: 980px; 
        width: 500px; 
    } 
    div.carousel-inner #personal4 {
        margin-left: 80px; 
        height: 980px; 
        width: 500px; 
    } 
    div.carousel-inner #personal5 {
        margin-left: 80px; 
        height: 980px; 
        width: 500px; 
    }  
    div.carousel-inner #personal6 {
        height: 980px; 
        width: 1150px; 
    }  
    div.carousel-inner #personal7 {
        height: 980px; 
        width: 1150px; 
    } 
    div.carousel-inner #personal8 {
        height: 980px; 
        width: 1150px; 
    } 
    div.carousel-inner #personal9 {
        height: 980px; 
        width: 1150px; 
    } 
    div.carousel-inner #personal10 {
        margin-left: 785px; 
        height: 780px; 
        width: 500px; 
    } 
    .personalcaption {
        margin-left: -1100px; 
        margin-top: -80px;  
    } 
    div.carousel-inner #personal11 {
        margin-left: 785px; 
        height: 780px; 
        width: 500px; 
    } 
    div.carousel-inner #personal12 {
        margin-left: 785px; 
        height: 780px; 
        width: 500px; 
    } 
#leftp {
    margin-top: 10px; 
    margin-left: -100px; 
} 
#rightp {
    margin-top: 10px; 
    margin-left: 10px;  
    } */
     /* publications page */ 
 /*    .publications-container {
        margin-left: 50px; 
        margin-top: 400px; 
    } 
    .border {
        margin-right: 200px; 
    }
} */

/* ----------------------------------------------- */ 
@media only screen and (max-width: 1024px) { 
    a.il {
        margin-left: 310px; 
        margin-top: 70px; 
    }
    #homepageImage {
        height: 640px; 
        width: 480px; 
        margin-left: -100px; 
    } 
    .header-text {
        margin-right: -10px; 
    }
    .header-text-2 {
        margin-right: -10px; 
    }
    .header-text-3 {
        margin-right: -10px; 
    }  
    .publications-container {
        margin-left: -100px; 
    } 
} 

/* ----------------------------------------------- */ 
@media only screen and (max-width: 1024px) { 
    a.il {
        margin-left: 310px; 
        margin-top: 70px; 
    }
    #homepageImage {
        height: 768px; 
        width: 480px; 
        margin-left: -100px; 
    } 
}


    /*#myCarousel {
        width: 1025px; 
    }
    a.il {
        margin-left: 400px; 
    } 
    div.carousel-inner #personal0 {
        margin-left: 280px;
        height: 750px; 
        width: 500px; 
    } 
    div.carousel-inner #personal1 {
        height: 750px; 
        width: 900px; 
    } 
    div.carousel-inner #personal2 {
        margin-left: 550px;
        height: 750px; 
        width: 500px; 
    } 
    div.carousel-inner #personal3 {
        margin-left: 280px;
        height: 750px; 
        width: 500px; 
    } 
    div.carousel-inner #personal4 {
        margin-left: 80px;
        height: 750px; 
        width: 500px; 
    } 
    div.carousel-inner #personal5 {
        margin-left: 80px;
        height: 750px; 
        width: 500px; 
    } 
    div.carousel-inner #personal6 {
        height: 750px; 
        width: 900px; 
    } 
    div.carousel-inner #personal7 {
        height: 750px; 
        width: 900px; 
    } 
    div.carousel-inner #personal8 {
        height: 750px; 
        width: 900px; 
    } 
    div.carousel-inner #personal9 {
        height: 750px; 
        width: 900px; 
    } 
    div.carousel-inner #personal10 {
        margin-left: 550px;  
        height: 750px; 
        width: 500px; 
    } 
    div.carousel-inner #personal11 {
        margin-left: 550px;  
        height: 750px; 
        width: 500px; 
    } 
    div.carousel-inner #personal12 {
        margin-left: 550px;  
        height: 750px; 
        width: 500px; 
    } 
    .personalcaption{
        margin-left: -850px; 
        margin-top: -20px;   
    }
#leftp {
    margin-left: -40px; 
} 
#rightp {
    margin-left: -40px; 
    } 
}*/