 @media only screen and (min-width: 1200px) {
    #myCarousel {
        width: 1200px; 
    }  
    .carousel-caption {
        width: 80px; 
    }
  
    a.il {
        margin-left: 90px; 
        margin-top: 60px; 
    }
    #homepageImage {
        height: 200px; 
        width: 100px; 
        margin:auto; 
    } 
    .header-text {
        margin-right: 40px; 
    } 
    .header-text-2{
        margin-right: 40px; 
    }
    .header-text-3 {
        margin-right: 40px; 
    }
    /* advertising ---------------------------------------------------------------- */ 
    #lefta {
        margin-top: 100px; 
        margin-left: -80px;  
    } 
  #righta {
        margin-top: 5px; 
        margin-left: 80px; 
 
    }   

    #rightCarouselAds {
        margin-top: 500px; 
    } 

  .test {
        width: 40px; 
        padding-top: 50px; 

    }  
  
    div.carousel-inner #ads0 {
        height: 500px; 
        margin-left: 80px; 
    } 

    .adscaption {
        margin-left: -800px; 
        margin-bottom: 150px; 
        font-size: 13px; 
    }  
    .adscaption1 {
        margin-left: -820px; 
        margin-bottom: 150px; 
        font-size: 13px; 
    } 
    div.carousel-inner #ads1 {
        height: 1000px; 
        width: 700px; 
        margin-left: 1050px; 
    }  
  
    div.carousel-inner #ads2 {
        height: 1000px; 
        width: 700px; 
        margin-left: 1045px; 
    } 
    div.carousel-inner #ads3 {
        height: 1000px; 
        width: 700px; 
        margin-left: 1045px; 
    }  
     div.carousel-inner #ads4 {
        height: 1000px; 
        width: 700px; 
        margin-left: 1045px; 
    } 
    div.carousel-inner #ads5 {
        height: 1000px; 
        width: 700px; 
        margin-left: 1045px; 
    } 
    div.carousel-inner #ads6 {
        height: 1000px; 
        width: 700px; 
        margin-left: 1045px; 
    } 
  
/* personal --------------------------------------------------------------- */
#rightCarouselPersonal {
    margin-top: 500px; 
}   

#rightp {
    margin-top: 5px; 
    margin-right: 40px; 

}   

#rightCarouselPersonal {
    margin-top: 580px; 
}

.testTwo {
    margin-left: 10px; 
    padding-top: 50px; 
}
 div.carousel-inner #personal0 {
          margin-top: 50px; 
          margin-left: 550px;
          height: 1200px; 
          width: 700px; 
    }  
    .personalCaptionZero {
        margin-left: 180px; 
        margin-top: -80px; 
        font-size: 13px; 
      }
    div.carousel-inner #personal1 {
        margin-top: 50px; 
         height: 990px; 
         width: 1600px; 
   }  
   div.carousel-inner #personal2 {
    margin-top: 50px; 
    margin-left: 1700px; 
    height: 1200px; 
    width: 800px; 
}  
.personalCaptionTwo {
    margin-left: -2250px; 
    margin-top: -250px; 
    font-size: 13px; 
  }
div.carousel-inner #personal3 {
    margin-top: 50px; 
    margin-left: 600px; 
    height: 1200px; 
    width: 700px; 
} 
.personalCaptionThree {
    margin-left: -2250px; 
    margin-top: -250px; 
    font-size: 13px; 
    overflow: hidden; 
  } 
div.carousel-inner #personal4 {
    margin-top: 50px; 
    margin-left: 160px;
    height: 1200px; 
    width: 800px; 
}  
.personalCaptionFour {
    margin-left: 710px; 
    margin-top: -250px; 
    font-size: 13px; 
  }  
div.carousel-inner #personal5 {
    margin-top: 50px; 
    margin-left: 160px;
    height: 1200px; 
    width: 800px; 
}  
.personalCaptionFive {
    margin-left: 710px; 
    margin-top: -280px; 
    font-size: 13px; 
  }  
div.carousel-inner #personal6 {
    margin-top: 50px; 
    height: 990px; 
    width: 1600px; 
}   
.personalCaptionSix {
    margin-left: -2250px; 
    margin-top: -50px; 
    font-size: 13px; 
  } 
  div.carousel-inner #personal7 {
    margin-top: 50px; 
    height: 990px; 
    width: 1600px; 
}   

.personalCaptionSeven {
    margin-left: -2250px; 
    margin-top: -50px; 
    font-size: 13px; 
  }   
  div.carousel-inner #personal8 {
    margin-top: 50px; 
    height: 990px; 
    width: 1600px; 
}   
div.carousel-inner #personal9 {
    margin-top: 50px; 
    height: 990px; 
    width: 1600px; 
}  
div.carousel-inner #personal10 {
    margin-top: 50px; 
    margin-left: 1150px; 
    height: 990px; 
    width: 800px; 
}   
div.carousel-inner #personal11 {
    margin-top: 50px; 
    margin-left: 1150px; 
    height: 990px; 
    width: 800px; 
}        
div.carousel-inner #personal12 {
    margin-top: 50px; 
    margin-left: 1150px; 
    height: 990px; 
    width: 800px; 
}     

.personalCaptionOne {
       margin-left: 100px; 
       margin-top: -80px; 
       font-size: 13px; 
} 

.personalcaption {
    margin-left: -2300px; 
    margin-top: -50px; 
    font-size: 13px; 
}

 #leftp {
        margin-top: 100px; 
        margin-left: -80px;  
    } 
  #rightp {
        margin-top: 10px; 
        margin-left: 1200px; 

    }  
    .carousel-control.right {
        margin-top: 350px; 
        
    } 

  .test {
        margin-left: 50px; 
        margin-bottom: 1px; 
    }  
  

    /* publications */ 
    .publications-container {
        margin-top: auto; 
        margin-left: auto; 
    } 
    .border {
        margin-right: 400px; 
    } 


/* ----------------------------------------------  womens page ----------------------------- * /  
/* ---------- */ 
.image-grid  {
    padding-top: 80px; 
    width: 70%; 
    margin: auto; 
}  

#root {
    max-width: 1920px;
} 

.each .caption {
    margin-top: 48%; 
    font-size: 13px; 
} 

.each p.caption.right {
    margin-right: 50px;
}


.gallery-popup .nav.arrow-right {
    right: 90px;
}

.gallery-popup .nav.arrow-left {
    left: 90px;
}  

.gallery-popup .gallery-wrapper .image-holder.right {
    margin-right: 200px;
}
 
.each p.caption.right {
    margin-right: 30px;
} 

}  






/*------------------------------------------------------------------------------------------------*/
 @media only screen and (max-width: 1680px) {
#myCarousel {
      width: 1680px; 
  } 
  a.il {
    margin-left: 610px; 
    margin-top: 80px; 
} 
#homepageImage {
    height: 800px; 
    width: 600px; 
    margin-left: 55px; 
} 
.header-text {
    margin-right: 30px; 
} 
.header-text-2{
    margin-right: 30px; 
}
.header-text-3 {
    margin-right: 30px; 
} 
/* ------------------------------------- advertising --------------------------- */

  
div.carousel-inner #ads0 {
    height: 1000px; 
    margin-left: 900px; 
} 
  
div.carousel-inner #ads1 {
    height: 1000px; 
    margin-left: 860px; 
    width: 700px; 
}  
.adscaption {
    margin-left: -1000px; 
    margin-bottom: 150px; 
    font-size: 13px; 
} 

.adscaption1 {
    margin-left: -1100px; 
    margin-bottom: 150px; 
    font-size: 13px; 
}   

div.carousel-inner #ads2 {
    height: 1000px; 
    margin-left: 860px; 
    width: 700px; 
}  

div.carousel-inner #ads3 {
    height: 1000px; 
    margin-left: 860px; 
    width: 700px; 
}  

div.carousel-inner #ads4 {
    height: 1000px; 
    margin-left: 860px; 
    width: 700px; 
}  

div.carousel-inner #ads5 {
    height: 1000px; 
    margin-left: 860px; 
    width: 700px; 
}  

div.carousel-inner #ads6 {
    height: 1000px; 
    margin-left: 860px; 
    width: 700px; 
}  */
/* ---------------------------- womens page -----------------------------------*/

.each p.caption.testCaption {
    margin-top: 900px; 
    margin-left: 1250px; 
}  

.each p.caption.fullLeftCaption {
    margin-top: 900px; 
    margin-left: 50px; 
} 

.each p.caption.centerLeftCaption {
    margin-top: 900px; 
    margin-left: -400px; 
    position: absolute;
}   

.each p.caption.captionLeftLeft {
    margin-bottom: 60px; 
    margin-left: -1970px; 
    position: absolute;
}     


.gallery-popup .gallery-wrapper .testRight {
    margin-left: 32px; 
    position: relative;
    padding-left: 1000px; 
}   

 
.each p.caption.centerCloseLeftCaption {
    margin-top: 850px; 
    margin-left: -150px; 
    position: absolute;
}  

.each p.caption.rightFarLeftCaption {
    margin-left: 10px; 
    position: absolute; 
}    



.each p.caption.centerRightCaption {
    margin-top: 875px; 
    margin-left: 950px; 
    position: absolute;
}   
 

.gallery-popup .gallery-wrapper .centerRight {
    margin-left: 500px;  
} 

.gallery-popup .gallery-wrapper .centerCloseLeft {
        margin-left: 500px;   
    } 
 

.gallery-popup .gallery-wrapper .centerLeft {
    margin-left: 500px;  
} 


.image-grid  {
    padding-top: 80px; 
    width: 80%; 
    margin: auto; 
}  

#root {
    max-width: 1680px;
} 

.each .caption {
    margin-top: 54%; 
} 

.gallery-popup .nav.arrow-right {
    right: 90px;
}

.gallery-popup .nav.arrow-left {
    left: 90px;
}  

.gallery-popup .gallery-wrapper .image-holder.right {
    margin-right: 150px;
} 

.gallery-popup .gallery-wrapper .image-holder.left {
    margin-left: 150px;
}
 
.each p.caption.right {
    margin-right: 30px;
}  

.each p.caption.left {
    margin-left: 20px;
    margin-top: 800px; 
}   

.each p.caption.left.edge.caption-right {
    margin-top: 900px; 
}

.each p.caption.left.edge {
    margin-left: 800px; 
    margin-bottom: 80px; 
} 

.image-holder.left {
    margin-left: 400px;
} */




/* ------------------------------------------------------ personal ------------------------------ */
    div.carousel-inner #personal0 {
        margin-left: 470px;
        height: 1050px; 
        width: 700px; 
    } 
     div.carousel-inner #personal1 {
        height: 1050px; 
        width: 1500px; 
    } 
    div.carousel-inner #personal2 {
        margin-left: 980px;  
        height: 1050px; 
        width: 700px; 
    } 
    div.carousel-inner #personal3 {
        margin-left: 490px;  
        height: 1100px; 
        width: 700px; 
    } 
    div.carousel-inner #personal4 {
        margin-left: 150px;  
        height: 1050px; 
        width: 700px; 
    } 
    div.carousel-inner #personal5 {
        margin-left: 150px;  
        height: 1050px; 
        width: 700px; 
    } 
    div.carousel-inner #personal6 {
        height: 1000px; 
        width: 1500px; 
    } 
    div.carousel-inner #personal7 {
        height: 1000px; 
        width: 1500px; 
    } 
    div.carousel-inner #personal8 {
        height: 1000px; 
        width: 1500px; 
    }  
    div.carousel-inner #personal9 {
        height: 1000px; 
        width: 1500px;  
    }
    div.carousel-inner #personal10 {
    height: 1050px; 
    width: 700px; 
    margin-left: 990px; 
}  
.personalcaption {
    margin-left: -2310px; 
    margin-bottom: 50px;  
}  

.personalCaptionTwo {
    margin-left: -2200px; 
    margin-top: -80px; 
    font-size: 13px; 
  } 
  .personalCaptionThree {
    margin-left: -2250px; 
    margin-top: -130px; 
    font-size: 13px; 
  } 
 
  .personalCaptionFive {
    margin-left: 400px; 
    margin-top: -80px; 
    font-size: 13px; 
  }  

  .personalCaptionSix {
    margin-left: -2200px; 
    margin-top: -20px; 
    font-size: 13px; 
  }
div.carousel-inner #personal11 {
    height: 1050px; 
    width: 700px; 
    margin-left: 990px; 
}  

div.carousel-inner #personal12 {
    height: 1050px; 
    width: 700px; 
    margin-left: 990px; 
}  
.carousel-control.right {
    margin-top: 590px; 
    
} 
    #leftp {
        margin-top: 190px; 
    } 
    #rightp {
        margin-top: 10px; 
        margin-left: 80px; 
    }
    /* publications page */ 
    .publications-container {
        margin-left: 300px; 
        margin-top: 600px; 
    } 
    .border {
        margin-right: 350px; 
    }
}  
  
/*this works*/
/* ----------------------------------------------------------------------------- */ 
 @media only screen and (min-width: 1440px) {
    #myCarousel {
        width: 1440px; 
    } 
    a.il {
        margin-left: 500px; 
        margin-top: 90px;
    }
    #homepageImage {
        height: 1300px; 
        width: 980px; 
        margin-left: -50px;  
    }  
    .header-text {
        margin-right:95px; 
        position:fixed;
    } 
    .header-text-2{
        margin-right:90px; 
        position:fixed;
    }
    .header-text-3 {
        margin-right:90px;
        position:fixed;
    }  



    .publications-container {
        margin-left: 100px; 
        margin-top: 500px; 
    } 


    /* advertising page */  

    #righta {
        margin-top: 5px; 
        margin-right: 5px; 
    }   

    #lefta {
        margin-top: 20px; 
    }

    #rightCarouselAds {
        margin-top: 400px; 
    } 

  .test {
        margin-left: -450px; 
        width: 100px; 
        padding-top: 80px; 
    }  

    div.carousel-inner #ads0 {
        margin-left: 750px; 
        height: 900px; 
    } 

    .adscaption {
        margin-left: -1300px; 
    }  
    
    div.carousel-inner #ads1 {
        margin-left: 750px; 
        height: 900px; 
        width: 600px; 
    }  

    .adscaption1 {
        margin-left: -1300px; 
    }   

    div.carousel-inner #ads2 {
        margin-left: 750px; 
        height: 900px; 
        width: 600px; 
    }   

    div.carousel-inner #ads3 {
        margin-left: 750px; 
        height: 900px; 
        width: 600px; 
    }   

    div.carousel-inner #ads4 {
        margin-left: 750px; 
        height: 900px; 
        width: 600px; 
    }   

    div.carousel-inner #ads5 {
        margin-left: 750px; 
        height: 900px; 
        width: 600px; 
    }   

    div.carousel-inner #ads6 {
        margin-left: 750px; 
        height: 900px; 
        width: 600px; 
    } 

/* personal page */ 

#leftp {
    margin-top: 100px; 
}  

#rightp {
    margin-right: 20px; 
} 

#rightCarouselPersonal {
    margin-top: 470px; 
} 

.testTwo {
    margin-left: -450px; 
    width: 100px; 
    padding-top: 80px; 
}   

div.carousel-inner #personal0 {
    width: 600px; 
} 

.personalCaptionZero {
    margin-left: -80px; 
    margin-top: -250px; 
} 

div.carousel-inner #personal1 {
    width: 1300px; 
}  

.personalCaptionOne {
    margin-left: -480px; 
    margin-top: -250px; 
}  

div.carousel-inner #personal2 {
    margin-left: 780px; 
}  

.personalCaptionTwo {
    margin-left: -2200px; 
    margin-top: -250px; 
}   

div.carousel-inner #personal3 {
    margin-left: 500px; 
    width: 600px; 
}  

.personalCaptionThree {
    margin-left: -2200px; 
    margin-top: -290px; 
}   

div.carousel-inner #personal4 {
    margin-left: 100px; 
    width: 600px; 
}  

.personalCaptionFive {
    margin-left: -10px; 
    margin-top: -259px; 
}   

div.carousel-inner #personal5 {
    margin-left: 98px; 
    width: 600px; 
}  

div.carousel-inner #personal6 {
    width: 1300px; 
    height: 850px; 
}   

.personalCaptionSix {
    margin-left: -2220px; 
    margin-top: -30px; 
}   

div.carousel-inner #personal7 {
    width: 1300px; 
    height: 850px; 
}   

div.carousel-inner #personal8 {
    width: 1300px; 
    height: 850px; 
}   

div.carousel-inner #personal9 {
    width: 1300px; 
    height: 850px; 
}   

div.carousel-inner #personal10 {
    margin-left: 850px; 
    height: 900px; 
    width: 600px; 
}   

div.carousel-inner #personal11 {
    margin-left: 850px; 
    height: 900px; 
    width: 600px; 
}   

div.carousel-inner #personal12 {
    margin-left: 850px; 
    height: 900px; 
    width: 600px; 
}  

.personalcaption {
    margin-left: -2300px; 
    margin-top: -90px; 
}  



/*womens section */ 

.image-grid  {
    padding-top: 80px; 
    width: 90%; 
    margin: auto; 
}  

    .each p.caption.left.edge.caption-right {
        margin-top: 760px; 
        margin-left: 700px; 
    } 

    .each p.caption.full.testCaption {
        margin-top: 760px; 
        margin-left: 1100px; 
        color: #fff; 
    } 

    .each p.caption.fullLeft.fullLeftCaption {
        margin-top: 760px; 
        margin-left: 100px; 
        color: #fff; 
    } 

    .each p.caption.centerLeft.centerLeftCaption {
        margin-top: 760px; 
        margin-left: -400; 
    } 

    .each p.caption.left {
        margin-top: 680px;  

    }
    
    .each p.caption.full.testCaption {
        margin-left: 990px; 

    } 
    .each p.caption.centerCloseLeft.centerCloseLeftCaption {
        margin-top: 750px;
        margin-left: -150px; 

    } 
    .each p.caption.centerRight.centerRightCaption {
        margin-top: 750px;
        margin-left: 800px; 

    } 
    .each p.caption.side.rightSide {
        margin-top: 750px;
        margin-left: 400px; 
    } 

    .each p.caption.centerRight.centerRightCaption {
            margin-top: 750px;
            margin-left: 710px;  
        } 

    .gallery-popup .gallery-wrapper .testRight {
    margin-left: -108px; 
}     

    .each p.caption.captionLeftLeft {
    margin-top: 750px;
    margin-left: -1810px;  
    }  

    .each p.caption.sideLeftCaption {
        margin-top: 750px;
        margin-left: 30px; 
        position: absolute; 
    }   

    .each p.caption.rightEdgeCaption {
        margin-top: 750px;
        margin-left: 400px; 
    }  
        .gallery-popup .gallery-wrapper .sideRight img{
            margin-left: 750px; 
            position: relative;
        }    
        
 } 
   
/* ----------------------------------------------- */ 
 /* @media only screen and (max-width: 1200px) { 
  
.image-grid  {
    padding-top: 80px; 
    width: 100%; 
    margin: auto; 
    }     
 
.dropdown-section {
    margin-left: -20px; 
} 

}  */


