@media only screen and (max-width: 1700px) {
    .main-container-nav {
        width: 1700px; 
    }
    .main-container-header {
        width: 1700px; 
    }
    .header-text {
        margin-right: -5px; 
        font-size: 12px;  
    } 
    .header-text-2 {
        margin-right: -50px; 
        font-size: 12px;  
    }
    .header-text-3 {
        margin-right: -50px;
        padding-top: 5px; 
        font-size: 12px;  
    }  
    #homepageImage {
        margin-right: 400px; 
        width: 700px; 
        height: 1100px; 
    } 
    .nav-item {
        margin-top: 80px; 
    } 
    .nav-link {
        font-size: 18px; 
    }
    a.il {
        margin-left: 803px; 
        margin-top: 80px; 
        font-size: 23px; 
        letter-spacing: 4px; 
    }
} 

@media only screen and (max-width: 1300px) {
    .main-container-nav {
        width: 1300px; 
    }
    .main-container-header {
        width: 1300px; 
    }
    #homepageImage {
        margin-left: -50px; 
        width: 500px; 
        height: 700px;
    } 
    .header-text {
        margin-right: 25px; 
        font-size: 12px;  
    } 
    .header-text-2 {
        margin-right: -20px; 
        font-size: 12px;  
    }
    .header-text-3 {
        margin-right: -20px;
        padding-top: 5px; 
        font-size: 12px;  
    } 
    .nav-item {
        margin-top: 58px; 
    } 
    .nav-link {
        font-size: 12px; 
    }
    a.il {
        margin-left: 566px; 
        margin-top: 58px; 
        font-size: 18px; 
        letter-spacing: 4px; 
    }
}